{% extends 'products/base.html' %}

{% block page_content %}
  <ul class=products>
  {% for product in products %}
  <div class="row">
    <div class="col-md-4">
      <img src="/{{ product.image_url }}" width="100%"/>
    </div>
    <div class="col-md-4">
      <h2><a href="/v1/products/{{ product.id }}/"> {{ product.title }} </a></h2>
      <div class="well">
          <p>Цена: {{ product.price_rub }} рублей</p>
          {% if product.in_store %}
            <p>Налие: есть в наличии</p>
          {% else %}
            <p>Налие: нет в наличии</p>
          {% endif %}
          <p>Категория: {{ product.category.title }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
  </ul>
{% endblock %}
