.main_page_content {
	margin-top: 70px;
}

.product_detail_view_menu {
    text-align: center;
    vertical-align: middle;
}

.product_detail_view_menu_item {
    background-color: #eee;
    vertical-align: middle;
}